<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <!link rel="stylesheet" href="/css/font-awesome.css" />
    <link href="/css/styles/styles.css" rel="stylesheet">
</head>

<body>
<div class="container">
    <div class="row">

        <div class="col-md-offset-2 col-md-6">
            <form class="form-horizontal" method="post" id="form" action="/login">
                <span class="heading">Login</span>
                <div class="form-group">
                    <input type="email" class="form-control" id="email" name="email" placeholder="E-mail">
                    <i class="fa fa-user"></i>
                </div>
                <div class="form-group help">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                    <i class="fa fa-lock"></i>
                    <a href="#" class="fa fa-question-circle"></a>
                </div>
                <div class="form-group">
                    <div class="main-checkbox">
                        <input type="checkbox" value="none" id="checkbox1" name="check"/>
                        <label for="checkbox1"></label>
                    </div>
                    <span class="text">Remember</span>
                    <button class="btn btn-primary btn-lg" type="submit">Log in</button>
                </div>
            </form>
        </div>

    </div><!-- /.row -->
</div><!-- /.container -->
</body>

</html>