<!DOCTYPE html>
<html lang="en">
<head>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles/style_home.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Navigation</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">


            <li class="nav-item active">
                <a class="nav-link" href="index">Home page<span class="sr-only">(current)</span></a>#}
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Actions list</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="predict-by-user-id">Next day purchase prediction by user id</a>
                    <a class="dropdown-item" href="predict-by-item-id">Next day purchase prediction by item id</a>
                    <a class="dropdown-item" href="repeat-purchase-prediction">Repeat purchase prediction</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Exit</a>
            </li>
        </ul>
    </div>
</nav>
{% block content %}
    <div class="container">
        <div class="mt-3">
            <h1>Welcome to Purchase and Repeat Purchase Prediction System Based on User Logs System!</h1>
        </div>
        <p class="lead">Software Purchase and Repeat Purchase Prediction System Based on User Logs is a prediction
            system which will allow its users to make forecasts related to their retail businesses.
            Prediction system depends on user data coming from websites, mobile apps and company’s CRM.
        </p>
    </div>
{% endblock %}
<footer class="footer">
    <div class="container">
        <span class="text-muted">Produced by BITDataTeam</span>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
