{% extends 'index.twig' %}

{% block content %}
    <!-- Begin page content -->
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Item ID</th>
                <th></th>
           </tr>
            </thead>
            <tbody>
            {% for itemId in itemIds %}
            <tr>
                <th scope="row">{{ itemId }}</th>
                <td>Coming soon</td>
                <td>Coming soon</td>
            </tr>
                {% endfor %}
               </tbody>
        </table>
        <form class="form-horizontal" method="post" id="form" action="/send-message">
        <label for="item_id" class="col-sm-2 control-label">Promotion message</label>
        <div class="col-sm-6">
             <textarea type="text" class="form-control" id="promoMessage" name="promoMessage" placeholder="Write promo message">
            </textarea>
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
        </div>
        <br>
        <button class="btn btn-primary btn-lg" type="submit">Send results</button>
        </form>
    </div>


{% endblock %}