{% extends "index.twig" %}

{% block content %}
    <h1>Средний чек</h1>
    <h2>Средний чек по месяцам</h2>
    <h2>Средний чек по месяцам</h2>
    <h3>Что нибудь такое</h3>
    <div class="content">
        <div>
            <div class="input-group">
                <label for="dateFrom">Дата</label>
                <div class="iconed-input">
                    <input data-uk-datepicker class="control-input" type="text" id="dateFrom">
                    <div data-uk-datepicker-icon class="icon-wrapper"><i class="icon-calendar"></i></div>
                </div>
            </div>
            <div class="input-group">
                <label for="radio-1">New York</label>
                <input data-uk-checkradiobox type="checkbox" name="radio-1" id="radio-1">
                <label for="radio-2">New York</label>
                <input data-uk-checkradiobox type="checkbox" disabled name="radio-2" id="radio-2">
            </div>
        </div>

        <div id="map" style="width: 1000px; height: 800px"></div>

        <div id="chart" ></div>


        <table>
            <thead class="dark">
            <tr>
                <th>Дата</th>
                <th>Операция</th>
                <th>Статус</th>
                <th class="col-money">Сумма,&nbsp;₽</th>
            </tr>
            </thead>
            <tbody>
            <tr class="">
                <td>30.06.17</td>
                <td>Получено от службы доставки (Почта России по заказам Бета ПРО)</td>
                <td>
                                <span>


                                                                    <a class="payment-order-download" href="/loan/PaymentDetailsExcel/481890" title="">
                                                                        <span class="icon-download"></span>
                                                                        &nbsp;детализация прихода
                                                                    </a>

                                </span>
                </td>
                <td class="col-money">1 409,00</td>
            </tr>
            <tr class="">
                <td>30.06.17</td>
                <td>Получено от службы доставки (Почта России по заказам Бета ПРО)</td>
                <td>
                                <span>


                                                                    <a class="payment-order-download" href="/loan/PaymentDetailsExcel/481890" title="">
                                                                        <span class="icon-download"></span>
                                                                        &nbsp;детализация прихода
                                                                    </a>

                                </span>
                </td>
                <td class="col-money">1 409,00</td>
            </tr>
            <tr class="">
                <td>30.06.17</td>
                <td>Получено от службы доставки (Почта России по заказам Бета ПРО)</td>
                <td>
                                <span>


                                                                    <a class="payment-order-download" href="/loan/PaymentDetailsExcel/481890" title="">
                                                                        <span class="icon-download"></span>
                                                                        &nbsp;детализация прихода
                                                                    </a>

                                </span>
                </td>
                <td class="col-money">1 409,00</td>
            </tr>

            <tr>
                <td class="load-more" colspan="4"><a href="#">показать еще 20 городов</a></td>
            </tr>

            </tbody>
        </table>
    </div>
{% endblock %}
