{% extends 'index.twig' %}

{% block content %}

<!-- Begin page content -->
<div class="container">
    <form class="form-horizontal" method="post" id="form" action="/predict-by-user-id">
        <div class="form-group">
            <label for="user_id" class="col-sm-2 control-label">User id *<span class="red"></span></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="user_id" name="userId" placeholder="Preferable user id"
                       pattern="^[0-9]*$" required>
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            </div>
        </div>
        <button class="btn btn-primary btn-lg" type="submit">Search</button>
    </form>
</div>

{% endblock %}
