{% extends 'index.twig' %}

{% block content %}
    <!-- Begin page content -->
    <div class="container">
        <form class="form-horizontal" method="post" id="form" action="/predict-by-item-id">
            <div class="form-group">
                <label for="item_id" class="col-sm-2 control-label">Item id *<span class="red"></span></label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="itemId" name="itemId" placeholder="Preferable item id"
                           pattern="^[0-9]*$" required>
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </div>
            </div>
            <button class="btn btn-primary btn-lg" type="submit">Search</button>
        </form>
    </div>
{% endblock %}